.Display {
  border-collapse: collapse;
}

.Display-cellOn {
  background-color: solid 1px green;
  width: 10px;
  height: 10px;
  background-color: solid 1px #ccc;
}

.Display-cellOff {
  width: 10px;
  height: 10px;
  background-color: #333333;
  border: solid 1px #303030;
}
