.Display {
  border-collapse: collapse;
}

.Display-cellOn {
  width: 10px;
  height: 10px;
  background-color: #cccccc;
  border: solid 1px #c0c0c0;
}

.Display-cellOff {
  width: 10px;
  height: 10px;
  background-color: #333333;
  border: solid 1px #303030;
}
